{% do script("/assets/vendor.bundle.js", {"data-panel-core": 'true'}) %}
{% do script("/assets/main.bundle.js", {"data-panel-core": 'true'}) %}
{% do style("/assets/fontawesome/css/all.min.css") %}
{% do style("/assets/main.css") %}
{% block content %}
<div id="root">
    <div class="sidebar">
        <div class="header">Merapi Panel</div>
        <ul class="menu-container">
            <li class="menu show">
                <div class="menu-item">
                    
                </div>
            </li>
        </ul>
    </div>
    <div class="app-wrapper">
        {{content}}
    </div>
</div>
{% endblock %}