/*!*********************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!../../../node_modules/postcss-loader/dist/cjs.js!../../../node_modules/sass-loader/dist/cjs.js!./styles.scss ***!
  \*********************************************************************************************************************************************************************/
:root {
  --bs-body-bg: #eeeeee;
  --sd-bg: #ffffff;
  --sd-max-width: 200px;
  --sd-min-width: 50px;
  --menu-r: 25px;
}

#root {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}

body {
  background-color: var(--bs-body-bg);
  transition: margin-left 0.3s ease-in-out;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
}
body .app-wrapper {
  padding: 0.5rem 1rem;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  min-height: 100dvh;
  min-width: calc(100vw - var(--sd-min-width));
  overflow: auto;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
  transition: margin-left 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  body .app-wrapper {
    min-width: auto;
  }
}
body .app-wrapper > * {
  flex: 1;
  width: 100%;
}
body:has(.sidebar.expand) .app-wrapper {
  margin-left: var(--sd-max-width);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 50px;
  height: 100dvh;
  background-color: var(--sd-bg);
  border-top-right-radius: var(--menu-r);
  border-bottom-right-radius: var(--menu-r);
  z-index: 6000;
  overflow: hidden;
  transition: max-width 0.3s ease-in-out;
}
.sidebar.expand {
  max-width: var(--sd-max-width);
}
.sidebar.collapsed {
  max-width: var(--sd-min-width);
}
.sidebar.collapsed .header {
  padding-left: 0.5em;
}
.sidebar.collapsed .menu-container {
  margin-left: 5px;
}
.sidebar.collapsed .menu-container .menu-item span {
  display: none;
}
.sidebar .header {
  font-size: 1.2em;
  font-weight: 600;
  padding: 1.5em 1.2em;
  min-width: max-content;
  transition: padding 0.3s ease-in-out;
}
.sidebar .header .fa {
  font-size: 1.2em;
}
.sidebar .menu-container {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 15px;
  transition: all 0.25s ease-in-out;
}
.sidebar .menu-container .menu {
  position: relative;
  padding: var(--menu-r) 0;
  transition: all 0.4s ease-in-out;
  margin-top: -40px;
}
.sidebar .menu-container .menu .menu-item {
  padding: 1rem;
  font-size: 1em;
  min-width: max-content;
}
.sidebar .menu-container .menu .menu-item a {
  font-size: 1em;
  color: currentColor;
  text-decoration: none;
}
.sidebar .menu-container .menu .menu-item .fa {
  color: currentColor;
  font-size: 1em;
  margin-right: 0.5em;
}
.sidebar .menu-container .menu .menu-item.active {
  color: var(--bs-primary);
  background: var(--bs-body-bg);
  border-top-left-radius: var(--menu-r);
  border-bottom-left-radius: var(--menu-r);
}
.sidebar .menu-container .menu:has(.menu-item.active) {
  font-weight: 700;
  font-size: 1.2em;
  background: linear-gradient(to right, transparent 50%, var(--bs-body-bg) 50%);
}
.sidebar .menu-container .menu:has(.menu-item.active)::before, .sidebar .menu-container .menu:has(.menu-item.active)::after {
  content: "";
  background: var(--sd-bg);
  position: absolute;
  right: 0;
  width: 100%;
  height: var(--menu-r);
}
.sidebar .menu-container .menu:has(.menu-item.active)::before {
  top: 0;
  border-bottom-right-radius: var(--menu-r);
}
.sidebar .menu-container .menu:has(.menu-item.active)::after {
  bottom: 0;
  border-top-right-radius: var(--menu-r);
}
